/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, #009cff, #3f5dff);
  z-index: 5;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.heroContainer {
  overflow: hidden;
  background: linear-gradient(to top, transparent, #3f5dff), url('/img/hero-illustration.svg');

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.hero_title {
  color: black;
}
