/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(311deg, var(--color-blue), var(--color-blue-d), var(--color-blue-xd));
  background-size: 600% 600%;
  -webkit-animation: HeroAnimation 17s ease infinite;
  -moz-animation: HeroAnimation 17s ease infinite;
  animation: HeroAnimation 17s ease infinite;
  z-index: 5;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.heroContainer {
  overflow: hidden;
  background: linear-gradient(to top, transparent, var(--color-blue-d)), url('/img/hero-illustration.svg');
  padding: 64px 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.hero_title {
  color: black;
}

.main {
  margin: 64px;
}

@-webkit-keyframes HeroAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes HeroAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes HeroAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
